@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Godber Font Face */
@font-face {
  font-family: 'Godber';
  src: url('./assets/godber-3lxoz.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: var(  --Poppins-font); */
  --brandColor: #36424e;
  --OrangeColor: #b79a80;
  --Poppins-font: 'Godber', sans-serif;
  --Poppins-font: Jost, sans-serif;
  --BodyTextColor: #000000a8;
}

html,
body,
#root {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h1 {
  font-family: var(--Poppins-font);
  color: var(--brandColor);
  font-size: 64px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0px;
}

h2 {
  font-family: var(--Poppins-font);
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
  margin: 0px;
  color: var(--brandColor);
}

h3 {
  margin-bottom: 0.5em;
  color: var(--brandColor);
  font-weight: 500;
  font-size: 25px;
  line-height: 1.4;
  margin: 0px;
  font-family: var(--Poppins-font);


}

h4 {
  font-family: var(--Poppins-font);
  font-size: 18px;
  font-weight: 500;
  color: var(--brandColor);
  /* margin-bottom: 10px; */
  /* line-height: 1.3; */
  margin: 0px !important;
}

h5{
  margin: 0px !important;
  color: var(--brandColor);
}

span {
  font-family: Jost, sans-serif !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

p {
  margin: 0px;
  font-size: 18px !important;
  font-family: var(--Poppins-font);
  color: var(--BodyTextColor);
}

.PaddingTop {
  padding-top: 20px;
}

.sectionPaddingTop {
  padding-top: 50px;
}

.PaddingBottom {
  padding-bottom: 100px;
}

.MainContainer {
  width: 100%;
}

.Container {
  max-width: 1300px;
  margin: 0 auto;
}

.CommonFlexGap {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.marginBottom50 {
  margin-bottom: 50px;
}

.marginTop50 {
  margin-top: 50px;
}

.marginTop20 {
  margin-top: 20px;
}

.marginBottom20 {
  margin-bottom: 20px;
}

.paddingTop50 {
  padding-top: 50px;
}


.paddingBottom50 {
  padding-bottom: 50px;
}



.CommonBtn {
  background-color: black;
  color: white;
  border: none;
  border: 1px solid black;
  transition: .5s;
  font-size: 16px;
  padding: 15px 20px;
  /* border-radius: 5px; */
  cursor: pointer;
  font-weight: 500;
  margin: 20px 0px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  min-width: 200px;
}

.CommonBtn span {
  color: white;
  position: relative;
  z-index: 2;
}

.CommonBtn::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--brandColor);
  transform: translateY(100px);
  z-index: 1;
  transition: .5s;
}

.CommonBtn:hover::before {
  transform: translateY(0px);
  transition: .5s;
}

.maxWidth800 {
  max-width: 800px;
  /* margin: 0 auto; */
  /* text-align: center; */
}

/* Godber Font Classes */
.godber-font {
  font-family: 'Godber', sans-serif;
}

.godber-heading {
  font-family: 'Godber', sans-serif;
  font-size: 50px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0px;
  color: var(--brandColor);
}

.godber-title {
  font-family: 'Godber', sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.3;
  margin: 0px;
  color: var(--brandColor);
}

.godber-text {
  font-family: 'Godber', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  color: var(--brandColor);
}

button {
  cursor: pointer;
  font-family: var(--Poppins-font);
}

.white {
  color: white;
}

.breadCrumbContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--Poppins-font);
  text-transform: uppercase;
}

.breadCrumbContainer img {
  width: 30px;
}

.breadCrumbContainer a {
  color: gray;
}

.breadCrumbContainer .ColorBlack {
  color: black;
}

.TrendingDesignsSlideNavigationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.OnlyMobileBtn>div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.prev-btn,
.next-btn {
  background-color: transparent;
  color: var(--brandColor);
  border: 1px solid rgba(0, 0, 0, 0.145);
  padding: 10px 20px;
  font-size: 18px;
  min-width: 80px;
  border-radius: 20px;
  transition: .5s;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: var(--OrangeColor);
  color: white;
  transition: .5s;
}

.prev-btn img,
.next-btn img {
  width: 30px;
  height: 30px;
}

.prev-btn {
  display: flex;
  justify-content: unset;
  align-items: unset;
}

.next-btn {
  display: flex;
  justify-content: end;
}

b {
  font-weight: 500;
  color: black;
}


/* Page Transition Styles */
.page-transition-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.CommonFlexGap h2 {
  font-weight: 300 !important;
}

/* Optimize animations for performance */
.motion-div {
  will-change: transform, opacity;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.newRouteSectionPadding {
  padding-top: 5rem;
}

.FlexContainerWrapper {
  display: flex;
  justify-content: space-between;
  gap: 150px;
}

.FlexContainerWrapper div:first-child {
  width: 50%;
}

.FlexContainerWrapper div:last-child {
  width: 50%;
}

.AnimatedLineButton {
  margin: 20px 0px;
  background-color: transparent;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 2;
  padding: 10px 0px;
  transition: .5s;
  font-weight: 500;
  font-size: 14px;
}

.AnimatedLineButton:hover::before,
.AnimatedLineButton:hover::after {
  width: 50%;
  transition: .5s;
}

.AnimatedLineButton::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: 0;
  width: 20%;
  height: 2px;
  border-bottom: 1px solid black;
  transition: .5s;
}

.AnimatedLineButton::after {
  content: "";
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 0;
  width: 20%;
  height: 2px;
  border-bottom: 1px solid black;
  transition: .5s;
}

.LeftPadding100px {
  padding-left: 100px;
}

.maxWidth600 {
  max-width: 600px;
}

@media (min-width:1250px) and (max-width:1500px) {
  .Container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .Container {
    padding: 0px 10px !important;
  }

  .breadCrumbContainer {
    flex-wrap: wrap;
    gap: 7px;
    padding: 0px;
  }

  /* .ant-row .ant-col{
  padding: 0px 15px !important;
 } */
}

.smallFont {
  font-size: 12px !important;
}